{% load static %}

<!DOCTYPE html>



<html>
    <head>
        <meta charset="utf-8" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <title>Hey wassup!!!</title>
        <meta name="viewport" content="width=device_width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
    </head>
    <style>
        body {
            margin: 0;
            padding: 0;
            background: url('{% static 'images/fade.jpg' %}') no-repeat center center fixed;
            background-size: cover;
            position: relative;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.35);
            pointer-events: none; 
        }
    </style>
    <body>
        <img src="{% static 'images/logo.png' %}" alt="Logo">

        {% if messages %}

        <ul class="messages">
            {% for message in messages %}
            <li>
                {{message}}
            </li>


            {% endfor %}

        </ul>

        {% endif %}

        <!-- <img src="{% static 'images/lol1.jpg' %}" /> -->

        {% block content %}

        {% endblock %}
    </body>
</html>